<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-cmn-Hans" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ "/assets/css/index.css" }}" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <div class="index-avatar">
      <a href="/articles"><img src="{{ site.avatar }}" alt="avatar"></a>
          <a href="/articles"><img src="{{ image.path }}" alt="avatar"></a>
    </div>
    <div class="index-content">
      <h1>{{ site.name }}</h1>
      <p>{{ site.description }}</p>
      <div class="index-contact">
        kouxixing
      </div>
       
    </div>

    <script src="{{ "/assets/js/lock_menu.js" }}"></script>

  </body>
</html>
